<div id='container' class='group'>

	<header>
		<img src='/assets/img/checkbox.png' alt='checkbox'>
		<h1>My to do list</h1>
	</header>

	<form class='create-todo'>
		<label for='new_todo'>Enter a new to do: </label>
		<input type="text" name="new-todo">
		<button type="submit">Submit</button>
	</form>

	<section class='todos-list-pending'>
		<h2>TO DO</h2>
			{{#each todos}}
			{{#unless this.done}}
				<div class='todo'>
					<div class='todo-description'>
						<div class='todo-content'>{{this.item_name}}</div>
						<button class='todo-completion' id={{this.id}}>Completed</button>
					</div>
				</div>
			{{/unless}}
			{{/each}}
	</section>

	<section class='todos-list-done'>
		<h2>DONE</h2>
			{{#each todos}}
			{{#if this.done}}
				<div class='todo'>
					<div class='todo-description'>
						<div class='todo-content'>{{this.item_name}}</div>
					</div>
				</div>
			{{/if}}
			{{/each}}
	</section>

	<footer>
		&copy B. Garg 2018
	</footer>

</div>